.Board {
  height: 50rem;
  width: 50rem;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  justify-items: center;
  gap: 15px;
}

.Board-message {
  text-align: center;
  color: white;
  font-size: larger;
  margin-top: 50vh;
}
